.omni-card {
  box-shadow: 0 0 10px 5px #00000040;
  border-radius: 10px;
}

.omni-card-thumbnail img,
.omni-card-thumbnail a {
  width: 100%;
}

.omni-card .omni-card-thumbnail .omni-card-img {
  border-radius: 10px 10px 0 0;
}

.omni-card-title {
  font-size: 25px;
  line-height: 35px;
  font-weight: 800;
}

.omni-card-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--primary-red);
  text-transform: uppercase;
}

.omni-content {
  padding: 35px;
}

.omni-row-cols-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.omni-row-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.omni-row-cols-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .omni-row-cols-md-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .omni-row-cols-md-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
