#hero-home {
  background: linear-gradient(270deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 77.08%);
  padding: 110px 0;
  position: relative;
}

.hero-bg-overlay::after {
  content: "";
  background-image: url("/assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.cta-btns {
  margin-top: 35px;
}

.cta-2 {
  background-color: transparent !important;
  border: 1px solid var(--white);
}

.home-page-services {
  padding: 60px 0;
}

.location {
  margin-top: 40px;
}

.location-icon {
  height: 28px;
  width: 28px;
  background-color: var(--primary-red);
  position: relative;
  border-radius: 50%;
}

.location-icon svg {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
