footer {
  margin-top: 100px;
  padding-top: 100px;
}

.footer-top {
  padding-bottom: 60px;
}

footer .common-text {
  color: #ffffffbf;
}

footer svg,
footer a {
  color: var(--white);
}

footer .omni-card-title {
  color: var(--white);
}

.footer-copyright {
  padding: 30px 0;
  border-top: 1px solid #ffffff40;
}

.copyright-text {
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  text-transform: uppercase;
}
