.about-reality-top .card-side-title {
  font-size: 60px;
  line-height: 78px;
}

.team-members {
  row-gap: 45px;
}

.about-core-values .our-values {
  background-color: var(--bg-pink) !important;
}

.about-core-values .value-title {
  color: var(--primary-red);
}

.about-core-values .common-text {
  color: var(--gray);
}
