/* Header Top  */
.header-top {
  background-color: var(--dark);
  padding: 20px 0;
}

.header-top-text {
  font-weight: 700 !important;
  color: var(--white) !important;
  text-transform: uppercase;
}

/* Navbar  */
.omni-nav-menu {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.logo-area img {
  height: 80px;
}

.main-menu {
  display: flex;
  gap: 35px;
}

nav ul li {
  padding: 10px;
}

.main-menu .navigation-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--dark);
  text-transform: uppercase;
  cursor: pointer;
}

.dropdown-items li {
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  width: 100%;
}

.dropdown-items {
  display: none;
  background-color: var(--primary-red);
  padding: 10px;
  min-width: 150px;
}

.dropdown-items a {
  color: var(--white);
}

.dropdown-link {
  position: relative;
  z-index: 10;
}

.dropdown-link:hover > .dropdown-items {
  display: block;
}

.dropdown-link > .dropdown-items {
  position: absolute;
  right: 0;
  top: 40px;
}

.responsive-menu {
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.mobile-menu {
  width: 150px;
  background-color: var(--primary-red);
  padding: 20px;
  position: absolute;
  top: 40px;
  right: 10px;
  border-radius: 2px;
}

.mobile-menu li {
  padding: 5px 0;
}

.mobile-menu li a {
  color: var(--white);
  text-transform: uppercase;
}

.mobile-menu .dropdown-link {
  position: relative;
}

.responsive-bar svg {
  font-size: 26px;
}

.close {
  display: none;
  height: 0;
  overflow: hidden;
}

.open {
  display: block;
  height: auto;
}

.mobile-menu .mobile-dropdown-items {
  background-color: var(--bg-pink);
  position: absolute;
  top: 10px;
  right: 100%;
  border-radius: 2px;
  display: none;
  min-width: 150px;
  padding: 10px;
}

.mobile-menu .mobile-dropdown-items a {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown-link:hover .mobile-dropdown-items {
  display: block;
}
